<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355955833580-dith9gkmnho9sram6pllt7v0k4io660l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355955833580-dith9gkmnho9sram6pllt7v0k4io660l</string>
	<key>API_KEY</key>
	<string>AIzaSyDtC1ocJejDimzQ-7gXI3x7TxLeCmqLNFw</string>
	<key>GCM_SENDER_ID</key>
	<string>355955833580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.songpa.emmauss</string>
	<key>PROJECT_ID</key>
	<string>emmaus-a4ceb</string>
	<key>STORAGE_BUCKET</key>
	<string>emmaus-a4ceb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355955833580:ios:5a592024e383aae067c3c9</string>
</dict>
</plist>